<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="seleniumLocation" value="C:\Dropbox\Code\UnitTest Utilities\Selenium\Package" />
    <add key="seleniumPackage" value="selenium-server-standalone-2.3.0.jar" />
    <add key="firefoxBrowser" value="*firefox"/>
    <add key="ieBrowser" value="*iexplore"/>
  </appSettings>
</configuration>